{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static '/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <!-- End layout styles -->
      <style>
          .loader {
               position: absolute;
  left: 60%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
      </style>
<script>
    (function () {
	window.onpageshow = function(event) {
		if (event.persisted) {
			window.location.reload();
		}
	};
})();


var myVar;
function myFunction() {
  myVar = setTimeout(showPage, 1000);
}
function showPage() {

  document.getElementById("loader").style.display = "none";
document.getElementById("myDiv").style.display = "block";



}

</script>
  </head>
  <body onload="myFunction()">

  {% if request.user.is_authenticated %}
      <div class="loader" id="loader"></div>
    <div class="container-scroller" id="myDiv">
      <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-md-center">
          <!--<a class="navbar-brand brand-logo" href="../../index.html"><img src="../../assets/images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>-->
            <h3>  Aquaspense</h3>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <!--<img src="assets/images/faces/face1.jpg" alt="image">-->
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-cached me-2 text-success"></i> Activity Log </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="/maindash/{{ user.id }}">
                <i class="mdi mdi-home"></i>
              </a>
            </li>
            </li>
              <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="{% url 'logout' %}">
                <i class="mdi mdi-logout"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
        <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <!--<li class="nav-item nav-profile">
              <a href="#" class="nav-link">

                  <label class="mdi mdi-account-check" size="100px"></label>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">David Grey. H</span>
                  <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addcrop/{{ user.id }}">
                <span class="menu-title">Add new crop</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/main_graph/{{ user.id }}">
                <span class="menu-title">Charts</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              {% if not crops %}
                  <h1>Please add a new crop </h1>
              {% endif %}
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <h4 class="card-title">Crops in progress</h4></br>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Crop Name</th>
                          <th>Location</th>
                          <th>Created</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for crop in crops %}
                        <tr>

                          <td><a style="text-decoration: none;text-decoration-color: black" href="/dashboard/{{ crop.crop_id }}" >{{ crop.crop_name }}</a></td>
                          <td><a style="text-decoration: none" href="/dashboard/{{ crop.crop_id }}" >{{ crop.location }}</a></td>
                          <td><a style="text-decoration: none" href="/dashboard/{{ crop.crop_id }}" >{{ crop.crop_date }}</a></td>
                          <td><label class="badge badge-warning">In progress</label></td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                     <h4 class="card-title">Completed crops</h4></br>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Crop Name</th>
                          <th>Location</th>
                          <th>Created</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for crop in crops1 %}
                        <tr>
                          <td><a style="text-decoration: none" href="/dashboard/{{ crop.crop_id }}" >{{ crop.crop_name }}</a></td>
                          <td>{{ crop.location }}</td>
                          <td>{{ crop.crop_date }}</td>
                          <td><label class="badge badge-success">Completed</label></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
            </div>
          </div>
        </div>
      <!-- page-body-wrapper ends -->




  {% endif %}

    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static '/assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->

    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
      {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
  </div>
  </body>
</html>